{% extends "Cultural_events/menu.html" %}

{% load static %}

{% block bodycontent %}
<div class="content-wrapper">
    <table class="" style="width:100%;text-align:center !important;">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Class</th>
                <th class="text-center">Event</th>
                <th class="text-center">Participant Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Song</th>
                <th class="text-center">File</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="text-center">
                <td>{{forloop.counter}}</td>
            <td>{{ event.classId }}</td>
                <td>{{event.eventId}}</td>
                <td>{{event.EventName}}</td>
                <td>{{event.EventDesc}}</td>
                <td>{{event.FileName}}</td>
                <td>
                    {% if event.EventFile != '' %}
                    <audio id="myAudio{{event.id}}" controls>
                        <source src="{{event.EventFile.url}}" type="audio/mpeg">
                    </audio>
                    <button class="stopButton" data-id="myAudio{{event.id}}">
                        <i class="fas fa-stop"></i> Stop
                    </button>
                    {% else %}
                    No media found
                    {% endif %}
                </td>
                <td>
                    <form id="commonForm{{event.id}}" data-action="{% url 'update_event_order' %}" method="post">
                        {% csrf_token %}
                        <input type="text" value="{{ event.EventOrder}}" name="event_order" style="width: 65px;">
                        <input type="hidden" value="{{ event.id}}" name="eventId">
                        <span class="badge bg-info text-dark commonUpdate" data-id="commonForm{{event.id}}">
                            <i class="ti-pencil menu-icon text-light iconstyle">
                                Update</i>
                        </span>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# ------ Modal-------- #}


<!-- Modal -->
<div class="modal fade" id="commonModal" tabindex="-1" aria-labelledby="addNewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

        </div>
    </div>
</div>

<script src="{% static 'projs/generic.js' %}"></script>
{% endblock %}