{% extends "Quiz/menu.html" %}

{% load static %}


{% block bodycontent %}
<div class="content-wrapper">
	<div class="card mb-3">
		<img src="{% static 'assets/images/dashboard/people.svg' %}" class="card-img-top" style="background-color:#03346E"  alt="...">
		<div class="card-img-overlay">
			<h5 class="card-title fs-4">Events Master</h5>
			<p class="card-text d-flex justify-content-end">
				<button type="button" class="btn btn-primary btn-modal" data-url="{% url 'save_event_master' id=0 %}">
					<b>
						<i class="ti-plus  menu-icon">
							Add</i>
					</b>
				</button>
			</p>
		</div>

		<div class="card-body" >
<table id="eventTable" class="display" style="width:100%;text-align:center !important;">
	<thead>
		<tr>
			<th class="text-center">#</th>
			<th class="text-center">Programme</th>
			<th class="text-center">Competition Item</th>
			<th class="text-center">Group Item</th>
			<th class="text-center">Edit</th>
		</tr>
	</thead>
	<tbody>
		{% for events in events_list %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td>{{events.event}}</td>
				<td>{% if events.competition_item == 'Y' %} ✅ {% else %} ❌ {% endif %}</td>
				<td>{% if events.group_item == 'Y' %} ✅ {% else %} ❌ {% endif %}</td>
				<td>
					<span class="badge bg-info text-dark btn-modal" data-url="{% url 'save_event_master' id=events.id %}" data-classLevel="{{quizdata.classLevel}}">
						<i class="ti-pencil menu-icon text-light iconstyle">
							Edit</i>
					</span>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

		
		</div>
	</div>
</div>







{# ------ Modal-------- #}


<!-- Modal -->
	<div class="modal fade" id="commonModal" tabindex="-1" aria-labelledby="addNewModalLabel" aria-hidden="true"> <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			
		</div>
	</div>
</div>




<script src="{% static 'projs/events_master.js' %}"></script>
{% endblock %}