{% extends "Cultural_events/menu.html" %}

{% load static %}

{% block bodycontent %}
<div class="content-wrapper">
	<table class="table table-bordered table-hover table-dark table-striped" style="width:100%;text-align:center !important;">
        <thead class="thead-dark">
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Class</th>
                <th class="text-center">Event</th>
                <th class="text-center">Participant Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Song</th>
                <th class="text-center">File</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr class="text-center">
                <td>{{forloop.counter}}</td>
                <td>{{event.classId}}</td>
                <td>{{event.eventId}}</td>
                <td>{{event.EventName}}</td>
                <td>{{event.EventDesc}}</td>
                <td>{{event.FileName}}</td>
                <td>
                    {% if event.EventFile != '' %}
                    <audio id="myAudio{{event.id}}" controls>
                        <source src="{{event.EventFile.url}}" type="audio/mpeg">
                    </audio>
                    <button class="stopButton" data-id="myAudio{{event.id}}">
                        <i class="fas fa-stop"></i> Stop
                    </button>
                    {% else %}
                    No media found
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# ------ Modal-------- #}

<script src="{% static 'projs/generic.js' %}"></script>
{% endblock %}